In [1]:
!pip install streamlit -q

     |████████████████████████████████| 9.2 MB 8.3 MB/s
     |████████████████████████████████| 78 kB 8.1 MB/s
     |████████████████████████████████| 182 kB 48.0 MB/s
     |████████████████████████████████| 4.7 MB 41.1 MB/s
     |████████████████████████████████| 237 kB 70.1 MB/s
     |████████████████████████████████| 164 kB 48.6 MB/s
     |████████████████████████████████| 62 kB 1.5 MB/s
     |████████████████████████████████| 51 kB 8.0 MB/s
  Building wheel for validators (setup.py) ... done

In [2]:
!pip install tornado==5.1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tornado==5.1
  Downloading tornado-5.1.tar.gz (516 kB)
     |████████████████████████████████| 516 kB 7.8 MB/s
Building wheels for collected packages: tornado
  Building wheel for tornado (setup.py) ... done
  Created wheel for tornado: filename=tornado-5.1-cp38-cp38-linux_x86_64.whl size=461817 sha256=dd006194246a5458c86360b8bf054cfdaf21ffacd1ffe89ca7d7ffb1f7c39c28
  Stored in directory: /root/.cache/pip/wheels/f7/51/7a/a7b5f4af2fa1367a6d2cf9c402758918559c80c4f545fa99b4
Successfully built tornado
Installing collected packages: tornado
  Attempting uninstall: tornado
    Found existing installation: tornado 6.0.4
    Uninstalling tornado-6.0.4:
      Successfully uninstalled tornado-6.0.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires tornado~=6.0.4, but you have tornado 5.1 which is incompatible.
distributed 2022.2.1 requires tornado>=6.0.3, but you have tornado 5.1 which is incompatible.
Successfully installed tornado-5.1

In [1]:
import numpy as np
import streamlit as st
import matplotlib.pyplot as plt
import pandas as pd
import datetime

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/stock/Microsoft_Stock.csv')

In [4]:
df

                    Date    Open    High     Low   Close    Volume
0      4/1/2015 16:00:00   40.60   40.76   40.31   40.72  36865322
1      4/2/2015 16:00:00   40.66   40.74   40.12   40.29  37487476
2      4/6/2015 16:00:00   40.34   41.78   40.18   41.55  39223692
3      4/7/2015 16:00:00   41.61   41.91   41.31   41.53  28809375
4      4/8/2015 16:00:00   41.48   41.69   41.04   41.42  24753438
...                  ...     ...     ...     ...     ...       ...
1506  3/25/2021 16:00:00  235.30  236.94  231.57  232.34  34061853
1507  3/26/2021 16:00:00  231.55  236.71  231.55  236.48  25479853
1508  3/29/2021 16:00:00  236.59  236.80  231.88  235.24  25227455
1509  3/30/2021 16:00:00  233.53  233.85  231.10  231.85  24792012
1510  3/31/2021 16:00:00  232.91  239.10  232.39  235.77  43623471

[1511 rows x 6 columns]

In [5]:
# Convert series object to datetime object
df['Date'] = pd.to_datetime(df['Date'])

In [6]:
df['Date']

0      2015-04-01 16:00:00
1      2015-04-02 16:00:00
2      2015-04-06 16:00:00
3      2015-04-07 16:00:00
4      2015-04-08 16:00:00
               ...
1506   2021-03-25 16:00:00
1507   2021-03-26 16:00:00
1508   2021-03-29 16:00:00
1509   2021-03-30 16:00:00
1510   2021-03-31 16:00:00
Name: Date, Length: 1511, dtype: datetime64[ns]

In [7]:
# Reset the index to the Date column
df['Date'] = pd.to_datetime(df['Date'], format='%Y/%m/%d')
df.reset_index(drop=True, inplace=True)
df.set_index('Date', inplace=True)

In [8]:
df.head()

                      Open   High    Low  Close    Volume
Date
2015-04-01 16:00:00  40.60  40.76  40.31  40.72  36865322
2015-04-02 16:00:00  40.66  40.74  40.12  40.29  37487476
2015-04-06 16:00:00  40.34  41.78  40.18  41.55  39223692
2015-04-07 16:00:00  41.61  41.91  41.31  41.53  28809375
2015-04-08 16:00:00  41.48  41.69  41.04  41.42  24753438

In [9]:
# set title and logo for the web page
st.set_page_config(page_title="Microsoft Stock Prices", page_icon="https://cdn.cdnlogo.com/logos/m/6/microsoft.svg", layout="wide")

In [10]:
# Adding social media links and tags to the web page

"[![Star](https://img.shields.io/badge/Rahul-TG-blue)](https://github.com/rahultg08/)"
"""
[![Follow](https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white)](https://www.linkedin.com/in/rahultg08)
[![Follow](https://img.shields.io/badge/Twitter-1DA1F2?style=for-the-badge&logo=twitter&logoColor=white)](https://twitter.com/rahultg08)

# Microsoft's Stock Analysis

"""

"\n[![Follow](https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white)](https://www.linkedin.com/in/rahultg08)\n[![Follow](https://img.shields.io/badge/Twitter-1DA1F2?style=for-the-badge&logo=twitter&logoColor=white)](https://twitter.com/rahultg08)\n\n# Microsoft's Stock Analysis\n\n"

In [12]:
# Sidebar to the webApp
st.markdown('---')
# Sidebar Configuration
st.sidebar.image('https://cdn.cdnlogo.com/logos/m/6/microsoft.svg', width=200)
st.sidebar.markdown('# Microsoft Stock Price Analysis')
st.sidebar.markdown('Microsoft is a leading global vendor of computer software, hardware for computer, mobile and gaming systems, and cloud services.')
st.sidebar.markdown('Stock data from 2015 to 2021')
st.sidebar.markdown('Visualization of Microsoft \'s Stock Price Trends and Patterns over a given time span')

st.markdown('---')
st.sidebar.write('Developed by Rahul TG')
st.sidebar.write('Contact @ rahultg741@gmail.com')

In [13]:
# Displaying data in App
st.subheader('Look through the Data')
st.dataframe(df.head())

# Displaying statistical info
st.subheader('Statistical Info about the Data')
st.write(df.describe())

In [14]:
# Selection for specific time frame
st.subheader('Select the Date Interval for analysis')
df_select = df

# Adding 2 columns
col1, col2 = st.columns(2)

# col1 for start date
with col1:
  st.write('Select Start Date')
  start_date = st.date_input('Start Date', min_value = datetime.date(2015,4,1), max_value=datetime.date(2021,3,31), value=datetime.date(2015,4,1))

with col2:
  st.write('Select End Date')
  end_date = st.date_input('End Date', min_value=datetime.date(2014,4,1), max_value=datetime.date(2021,3,31), value=datetime.date(2021,3,31))

if(start_date != None or end_date != None):
  if(start_date < end_date):
    df_select = df[start_date:end_date]
  else:
    st.warning('Invalid Date Range - Re-enter the dates')

In [15]:
# Open and Close Prices
st.subheader("Open & Close Prices for Microsoft Stock")
st.markdown("\n\n")
st.line_chart(df_select[['Open', 'Close']])

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [16]:
# High and Low Prices
st.subheader("High & Low Prices for Microsoft Stock")
st.markdown("\n\n")
st.line_chart(df_select[['High', 'Low']])

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [17]:
# Volume of Stock Traded
st.subheader("Volume of Microsoft Stock Traded")
st.markdown('\n\n')
st.bar_chart(df_select['Volume'])

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [18]:
# Moving average from 50 days to 250 days
st.subheader('Moving Averages of Open & Close Stock Prices')
moveavg_len = st.slider('Select the number of days for Moving Averages', min_value = 0, max_value = 250, value = 50)
moveavg_oc = df_select[['Open', 'Close']].rolling(50).mean()
st.line_chart(moveavg_oc)

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

Upload the dataset to colab before writing code into app.py

Then, run the app

In [19]:
%%writefile app1.py
# Import the necessary libraries
import streamlit as st
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

# set title and logo for the web page
st.set_page_config(page_title="Microsoft Stock Prices", page_icon="https://cdn.cdnlogo.com/logos/m/95/microsoft.svg")

# Adding social media links and tags to the web page

"[![Star](https://img.shields.io/badge/Rahul-TG-blue)](https://github.com/rahultg08/)"
"""
[![Follow](https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white)](https://www.linkedin.com/in/rahultg08)
[![Follow](https://img.shields.io/badge/Twitter-1DA1F2?style=for-the-badge&logo=twitter&logoColor=white)](https://twitter.com/rahultg08)

# Microsoft's Stock Analysis

"""

# Sidebar to the webApp
st.markdown('---')
# Sidebar Configuration
st.sidebar.image('https://cdn.cdnlogo.com/logos/m/6/microsoft.svg', width=200)
st.sidebar.markdown(' # Microsoft Stock Price Analysis')
st.sidebar.markdown('Microsoft is a leading global vendor of computer software, hardware for computer, mobile and gaming systems, and cloud services.')
st.sidebar.markdown('Stock data from 2015 to 2021')
st.sidebar.markdown('Visualization of Microsoft \'s Stock Price Trends and Patterns over a given time span')

st.markdown('---')
st.sidebar.write('Developed by Rahul TG')
st.sidebar.write('Contact @ rahultg741@gmail.com')

# Import the dataset into a dataframe
df = pd.read_csv("Microsoft_Stock.csv")

# Convert series object to datetime object
df['Date'] = pd.to_datetime(df['Date'])

# Reset the index to the Date column
df['Date'] = pd.to_datetime(df['Date'], format='%Y/%m/%d')
df.reset_index(drop=True, inplace=True)
df.set_index('Date', inplace=True)

# Displaying data in App
st.subheader('Look through the Data')
st.dataframe(df.head())

# Displaying statistical info
st.subheader('Statistical Info about the Data')
st.write(df.describe())

# Selection for specific time frame
st.subheader('Select the Date Interval for analysis')
df_select = df

# Adding 2 columns
col1, col2 = st.columns(2)

# col1 for start date
with col1:
  st.write('Select Start Date')
  start_date = st.date_input('Start Date', min_value = datetime.date(2015,4,1), max_value=datetime.date(2021,3,31), value=datetime.date(2015,4,1))

with col2:
  st.write('Select End Date')
  end_date = st.date_input('End Date', min_value=datetime.date(2014,4,1), max_value=datetime.date(2021,3,31), value=datetime.date(2021,3,31))

if(start_date != None or end_date != None):
  if(start_date < end_date):
    df_select = df[start_date:end_date]
  else:
    st.warning('Invalid Range - Re-enter the dates')

# Open and Close Prices
st.subheader("Open & Close Prices for Microsoft Stock")
st.markdown("\n\n")
st.line_chart(df_select[['Open', 'Close']])

# High and Low Prices
st.subheader("High & Low Prices for Microsoft Stock")
st.markdown("\n\n")
st.line_chart(df_select[['High', 'Low']])

# Volume of Stock Traded
st.subheader("Volume of Microsoft Stock Traded")
st.markdown('\n\n')
st.bar_chart(df_select['Volume'])

# Moving average from 50 days to 250 days
st.subheader('Moving Averages of Open & Close Stock Prices')
moveavg_len = st.slider('Select the number of days for Moving Averages', min_value = 0, max_value = 250, value = 50)
moveavg_oc = df_select[['Open', 'Close']].rolling(50).mean()
st.line_chart(moveavg_oc)

Writing app1.py

In [20]:
!streamlit run app1.py & npx localtunnel --port 8501

[..................] \ fetchMetadata: sill resolveWithNewModule localtunnel@2.0
Collecting usage statistics. To deactivate, set browser.gatherUsageStats to False.

npx: installed 22 in 4.704s
your url is: https://shaky-areas-play-34-125-124-191.loca.lt

  You can now view your Streamlit app in your browser.

  Network URL: http://172.28.0.12:8501
  External URL: http://34.125.124.191:8501

  Stopping...
^C